<!-- Human -->

<div id="HumanHeader">
    <div class="pl-1 pr-1 bg-info text-white canvas-title canvas-shadow hacker font-weight-bold text-shadow">As a
        Human...</div>
    <div class="pl-1 pr-1 pt-1 bg-secondary text-white canvas-subtitle text-right">I am pretty chill.</div>
</div>

<div id="HumanText" class="p2 mb-2">
    <hr />
    <p class="indent">Woah, hey, how ya doin'? I'm good. Guess I should introduce a little more about myself, huh?
        Name's Al. I have a 2 year old goblin I call a son, and a husband who helps me tame him. Love the tot. He's
        wild.</p>
    <p>When I'm not coding, I have a variety of hobbies that keep me entertained. I'm always, always finding ways to
        improve myself. If I'm not actively making something or learning something, then I ain't happy. So my hobbies
        typically line up with art and design, or full on tradeskills such as sewing or cheesemaking. I love cheese, man.</p>
    <p>I'm either drawing, writing, or playing Dungeons and Dragons when my aforementioned goblin is asleep. When he's
        awake, it's nothing but playgrounds and playdates all across Austin. </p>
    <p>Also, I really-really-really like vaporwave. That's the aesthetic I gave my website. I'm so sorry. Sure, I can
        make it professional looking, but where's the fun in that?
        It was either vaporwave or folk metal. Vaporwave's basically cyperpunk but if it were stuck in some surreal
        1990s world, haha.
    </p>
</div>