<!-- art -->

<div id="artHeader" class="mb-2">
    <div class="pl-1 pr-1 bg-info text-white canvas-title canvas-shadow hacker font-weight-bold text-shadow">As an
        Artist...</div>
    <div class="pl-1 pr-1 pt-1 bg-secondary text-white canvas-subtitle text-right">More Disney, less Da Vinci.</div>
</div>

<div id="artText" class="text-center mb-2">
    <a href="/static/img/gallery/full/char/a1.jpg" target="_blank" ><img class="w-100" src="static/img/art/a1-preview.jpg" style="max-width: 415px"></a>
</div>