<div class="card m-1 shadow">
  <img class="card-img-top d-none d-md-block" src="/static/img/headers/json.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title d-md-none bg-primary p-2 text-white text-center ">JSON Endpoints with Yelp</h4>
    <div><span class="badge badge-primary">Python</span>
      <span class="badge badge-primary">Flask</span>
      <span class="badge badge-danger">JSON</span>
      <span class="badge badge-danger">Yelp</span></div>
    <p class="card-text mt-3 mb-2">
      A Flask server using WTForms that retrieves data from Yelp's Fusion API, collects relevant info based on user
      input and sorts it into its own JSON.
    </p>
    <a href="https://github.com/alsalgu/YelpFlask" target="_blank" class="btn btn-primary mt-2">Source Code</a>
    
  </div>
</div>
<div class="card shadow">
  <img class="card-img-top d-none d-md-block" src="/static/img/headers/trkn.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title d-md-none bg-primary p-2 text-white text-center ">Business Website with Admin Management UI</h4>
    <div>
      <span class="badge badge-primary">Python</span>
      <span class="badge badge-primary">Flask</span>
      <span class="badge badge-secondary">sqlite</span>
      <span class="badge badge-primary">jQuery</span>
      <span class="badge badge-secondary">Bootstrap</span>
    </div>
    <p class="card-text mt-2 mb-3">
      WIP. Business Website with Admin log-in that allows the addition, deletion and organization of various
      information.
    </p>
    <a href="https://github.com/alsalgu/saldanaexpress" class="btn btn-primary">Source Code</a>
  </div>
</div>
<div class="card m-1 shadow">
  <img class="card-img-top d-none d-md-block" src="/static/img/headers/mern.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title d-md-none bg-primary p-2 text-white text-center ">REACT.JS/Express.JS Forum</h4>
    <div>
      <span class="badge badge-primary">React.JS</span>
      <span class="badge badge-primary">Express.JS</span>
      <span class="badge badge-danger">MongoDB</span>
    </div>
    <p class="card-text mt-2 mb-3">
      Simple website with Express.JS server and React front-end that allows forum posts.
    </p>
    <a href="https://github.com/alsalgu/MERNforum" target="_blank" class="btn btn-primary">Source Code</a>
  </div>
</div>