<!-- Design -->

<div id="designHeader">
  <div class="pl-1 pr-1 bg-info text-white canvas-title canvas-shadow hacker font-weight-bold text-shadow">Featured
    Projects</div>
  <div class="pl-1 pr-1 pt-1 bg-secondary text-white canvas-subtitle text-right">'View' Toolbar gets you more info.</div>
</div>
<!-- Project 1 -->
<div class="mt-2 shadow border p-2">
  <img class="w-100 d-none d-md-block" src="/static/img/headers/json.jpg" alt="Card image cap">
  <h4 class="d-md-none bg-primary p-2 text-white text-center">JSON Endpoints with Yelp</h4>

  <div id="project1text">
    <div class="text-center"><span class="badge badge-primary">Python</span>
      <span class="badge badge-primary">Flask</span>
      <span class="badge badge-danger">JSON</span>
      <span class="badge badge-danger">Yelp</span></div>
  </div>
  <p class="mt-2">
    A Flask server using WTForms that retrieves data from Yelp's Fusion API, collects relevant info based
    on user
    input and sorts it into its own JSON.
  </p>
  <a href="https://github.com/alsalgu/YelpFlask" target="_blank" class="btn btn-primary mt-1 mb-2">Source Code</a>
</div>
<!-- Project 2-->
<div class="mt-2 p-2 shadow border">
  <img class="d-none d-md-block w-100" src="/static/img/headers/trkn.jpg" alt="Card image cap">
  <h4 class="d-md-none bg-primary p-2 text-white text-center ">Business Website with Admin
    Management UI</h4>

  <div id="project2text">
    <div class="text-center"> <span class="badge badge-primary">Python</span>
      <span class="badge badge-primary">Flask</span>
      <span class="badge badge-secondary">sqlite</span>
      <span class="badge badge-primary">jQuery</span>
      <span class="badge badge-secondary">Bootstrap</span></div>
  </div>
  <p class="mt-2">
    WIP. Business Website with Admin log-in that allows the addition, deletion and organization of various
    information.
  </p>
  <a href="https://github.com/alsalgu/saldanaexpress" target="_blank" class="btn btn-primary mt-1 mb-2">Source Code</a>
</div>

<!-- Project 3-->
<div class="mt-2 shadow border p-2 mb-2">
    <img class="d-none d-md-block w-100" src="/static/img/headers/mern.jpg" alt="Card image cap">
    <h4 class="card-title d-md-none bg-primary p-2 text-white text-center ">MERN Forum</h4>
  
    <div id="project1text">
      <div class="text-center">
        <span class="badge badge-primary">React.JS</span>
        <span class="badge badge-primary">Express.JS</span>
        <span class="badge badge-danger">MongoDB</span>
      </div>
    </div>
    <p class="mt-2">
      Simple website with Express.JS server and React front-end that allows forum posts. I did this in a day
      as my first attempt with React, so I apologize for the shoddy interface design.
    </p>
    <a href="https://github.com/alsalgu/MERNforum" target="_blank" class="btn btn-primary mt-1 mb-2">Source Code</a>
  </div>