<!-- design -->

<div id="designHeader" class="mb-2">
    <div class="pl-1 pr-1 bg-info text-white canvas-title canvas-shadow hacker font-weight-bold text-shadow">As a
        designer...</div>
    <div class="pl-1 pr-1 pt-1 bg-secondary text-white canvas-subtitle text-right">Click an image for full view.</div>
</div>

<div id="designText" class="text-center mb-2">
    <a href="/static/img/art/d1-full.jpg" target="_blank"><img class="w-100" src="static/img/art/d1.jpg" style="max-width: 480px"></a>
    <a href="/static/img/art/d2-full.jpg" target="_blank"><img class="w-100" src="static/img/art/d2.jpg" style="max-width: 480px"></a>
    <a href="/static/img/art/d4-full.png" target="_blank"><img class="w-100" src="static/img/art/d4.jpg" style="max-width: 606px"></a>
    <a href="/static/img/art/d5-full.png" target="_blank"><img class="w-100" src="static/img/art/d5.png" style="max-width: 542px"></a>
</div>