<!-- develop -->

<div id="developHeader">
    <div class="pl-1 pr-1 bg-info text-white canvas-title canvas-shadow hacker font-weight-bold text-shadow">As a
        developer...</div>
    <div class="pl-1 pr-1 pt-1 bg-secondary text-white canvas-subtitle text-right">Snake Charmer in Training.</div>
</div>

<div id="developText" class="mb-2 p-2">
    <hr />
    <p class="indent">I always had an interest in web development. My earliest ventures with it were way back in the
        days of Geocities. Back when HTML design was mostly tables. That's all it was though, front-end design. I was a
        kid and I loved it.
        It was a hobby. You know, before Social Media, everyone had their super personalized web pages for video games
        or tv shows. Then they were all connected via web rings. That was me.
    </p>
    <p>
        It wasn't until a year ago that I decided to really delve into it. I took a bootcamp course for Full-Stack Web
        Development at Udacity and from there on, my love for Python Back-end grew. Python just seems so clean. I enjoy
        its versatility. The main uses for it are also things I personally have a passion for. Machine Learning,
        automation, data... But most importantly, I enjoy its syntax and readability. I can code exactly what I want it
        to do and read it as such.
    </p>
    <p>Code cleanliness is highly important to me as well. I've always been one for nearly-compulsion levels of
        organization
        and effeciency. I live by the Mexican proverb, "The donkey works twice." Basically, if you don't do it right
        the first time, you're going to do it again and again and again. Linters are this girl's best friend.</p>

    <p>As for other languages and aspects of being a developer, I'm capable. I learn fast and I learn well. If it
        compliments what I'm doing, I got it.</p>
</div>
<!-- Dumb Gif -->
<div id="developimg" class="text-center">
    <img class="w-100 mb-2" src="static/img/snek.gif" style="max-width: 245px">
</div>