<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/vaporwave.css" type="text/css">
</head>

<body class="d-flex flex-column bg-light">
    <!-- TBD Terminal-->
    <div class="container-fluid p-0">
        <div class="d-flex align-items-end sky" style="height: 500px; position:relative; overflow:hidden">
            <div class="d-flex justify-content-center stack w-100 h-100 m-0 p-5">
                <div id="moon" class="w-50 h-100 rounded-circle bg-primary moon">
                    <div class="w-100 h-100 inner-shadow"></div>
                </div>
            </div>
            <div class="stack w-100 h-75 mountains"></div>
            <div class="stack w-100 h-25 linescape landscape bg-dark inner-shadow">
            </div>
            <div class="stack w-100 h-25 linescape landscape2 bg-dark inner-shadow">
            </div>
            <div class="stack persp w-100 h-50 m-0 p-0">
                <div class="h-100 grid rotate bg-dark"></div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>