html, body {
    height: 100%
}

/* Additional Colors */
.bg-black {
    background-color: black;
}

/* Font Styles */

.display-font {
    font-family: 'VT323', monospace;
    color: #03e603;
    font-size: 2em;
}

.title-font {
    font-family: 'Audiowide', cursive;
    font-size: 4.5em;
}

/* Cursor ANimation */

.cursorBlink {
    -webkit-animation-name: blink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1s; /* Safari 4.0 - 8.0 */
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink {
    from {background-color: #03e603;}
    to {background-color: transparent;}
}

/* Standard */
@keyframes blink {
    from {background-color: #03e603;}
    to {background-color: transparent;}
}

/* XS to SM */

@media (min-width: 0px) and (max-width: 660px) {
    .title-font {
        font-family: 'Audiowide', cursive;
        font-size: 2.5em;
    }
    
    .display-font {
        font-family: 'VT323', monospace;
        font-size: 1.2em;
    }

  }
  
  /* SM to LG */
  
  @media (min-width: 660px) and (max-width: 992px) {
    .title-font {
        font-family: 'Audiowide', cursive;
        font-size: 3em;
    }
    
    .display-font {
        font-family: 'VT323', monospace;
        font-size: 1.5em;
    }
  }