html, body {
    height: 100%;
    min-width: 300px;
}

/* Additional Colors */
.bg-black {
    background-color: black;
}

.text-green{
    color: lime;
}

/* Font Styles */

.display-font {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

.title-font {
    font-family: 'Audiowide', cursive;
    font-size: 4.5em;
}

.hacker{
    font-family: 'Ubuntu', sans-serif;
}

.fast {
    font-family: 'Audiowide', cursive;
}
/* Cursor ANimation */

.cursorBlink {
    -webkit-animation-name: blink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink {
    from, to {border-right-color: lime}
    50% {border-right-color: transparent}
}

/* Standard */
@keyframes blink {
    from, to {border-right-color: lime}
    50% {border-right-color: transparent}
}

/* Typing Animation */

.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right-width: .15em;
    border-right-style: solid;
    border-right-color: lime;
    width: 12em;
    margin: 0 auto;
    color: lime;
    animation: type 1.7s steps(40, end), blink 1s step-end infinite;
}

@keyframes type {
    from {width:0px}
    to {width: 12em}
}

/* Terminal */

.trm-btn {
    width: 10px;
    height: 10px;
}

/* XS to SM */

@media (min-width: 0px) and (max-width: 660px) {
    .title-font {
        font-family: 'Audiowide', cursive;
        font-size: 2.5em;
    }
    
    .display-font {
        font-family: 'Ubuntu', sans-serif;
    }

    .hacker {
        font-family: 'Ubuntu', sans-serif;
    }

  }
  
  /* SM to LG */
  
  @media (min-width: 660px) and (max-width: 992px) {
    .title-font {
        font-family: 'Audiowide', cursive;
        font-size: 3em;
    }
    
    .display-font {    
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5em;
    }
  }