<!-- Art Terminal -->
<div id="MSPaint" class="container-fluid shadow emboss">
    <div id="MSHeader" class="row">
        <div class="d-flex flex-fill ml-2 mr-2 mt-1 mb-1 emboss2 Blue">
            <div class="d-flex flex-nowrap flex-fill ml-1">
                <div class="text-white d-none d-sm-block">artist.png - Paint</div>
                <div class="text-white d-sm-none">artist.png</div>
            </div>
            <div class="d-flex align-items-center mr-1">
                <div class="d-flex justify-content-center align-items-center trm-btn2 embossBTN mr-1 pb-1">
                    <div class="font-weight-bold eb">_</div>
                </div>
                <div class="d-flex justify-content-center align-items-center trm-btn2 mr-1 embossBTN">
                    <div class="eb">&#x25A1;</div>
                </div>
                <div class="d-flex justify-content-center align-items-center trm-btn2 embossBTN">
                    <div class="font-weight-bold eb">x</div>
                </div>
            </div>
        </div>
    </div>
    <div id="MSmenuBar" class="container-fluid pl-1 mb-1 ml-1">
        <div id="MSmenuButtons" class="row">
            <div class="menuBTN pl-1 pr-1">
                <u>F</u>ile
            </div>
            <div class="menuBTN pl-1 pr-1">
                <u>E</u>dit
            </div>
            <div class="menuBTN pl-1 pr-1">
                <u>V</u>iew
            </div>
            <div class="menuBTN pl-1 pr-1">
                <u>O</u>ptions
            </div>
            <div class="menuBTN pl-1 pr-1">
                <a href="{{url_for('main.aesthetic')}}"><u>H</u>elp</a>
            </div>
        </div>
    </div>
    <!-- MS Paint Main Body-->
    <div id="MSview" class="row pb-1">
        <div class="d-flex flex-fill ml-2 mr-2">
            <div class="d-inline-block ms-right pr-2 ebToolbar">
                <!-- Paint Toolbar Buttons -->
                <div id="MStoolbar" class="container">
                    <!-- Avocado/Pizza Buttons-->
                    <div class="row">
                        <div id="avocado" class="w-50 eb embossBTN2 text-center" data-toggle="tooltip" data-placement="top"
                            title="Vaporwave Art">&#x1F951;</div>
                        <div id="pizza" class="w-50 eb embossBTN text-center" data-toggle="tooltip" data-placement="top"
                            title="About Me">&#x1F355;</div>
                    </div>
                    <!-- Donut/Sushi Buttons -->
                    <div class="row">
                        <div id="donut" class="w-50 eb embossBTN text-center" data-toggle="tooltip" data-placement="top"
                            title="As an Artist...">&#x1F359;</div>
                        <div id="sushi" class="w-50 eb embossBTN text-center" data-toggle="tooltip" data-placement="top"
                            title="As a Designer...">&#x1F363;</div>
                    </div>
                    <!-- Wine/Bottle Buttons-->
                    <div class="row">
                        <div id="wine" class="w-50 eb embossBTN text-center" data-toggle="tooltip" data-placement="top"
                            title="As a Developer...">&#x1F377;</div>
                        <div id="bottle" class="w-50 eb embossBTN text-center" data-toggle="tooltip" data-placement="top"
                            title="As a Human...">&#x1F37C;</div>
                    </div>
                </div>
            </div>
            <!-- MS Paint Canvas Window-->
            <div id="MSwindow" class="d-flex flex-fill ms-top inner-shadow emboss2 canvas" style="background-color: #a8a8a8">
                <div id="MScanvas" class="mt-1 ml-1 mr-1 mb-0 bg-white d-flex flex-fill">
                    <!-- Avocado Div -->
                    <div class="paint avocado container-fluid crtBG crt m-0 p-0">
                        <div class="d-flex flex-fill flex-column h-100 text-info crtScreen justify-content-center align-items-center text-center">
                            <div class="container mt-1">
                                <div>
                                <span class="bg-black vapor-font">A E S T H E T I C</span></div>
                                <img src="/static/img/bg/aesthetic.png" class="w-75 border border-danger">
                            </div>
                        </div>
                    </div>
                    <!-- Pizza Div -->
                    <span class="paint pizza d-none">Pizza</span>
                    <!-- Donut Div -->
                    <span class="paint donut d-none">Jelly-Filled Donut</span>
                    <!-- Sushi Div-->
                    <span class="paint sushi d-none">Sushi</span>
                    <!-- Wine Div -->
                    <span class="paint wine d-none">Wine</span>
                    <!-- Bottle Div-->
                    <span class="paint bottle d-none">Bottle</span>
                </div>
            </div>
        </div>
    </div>
    <div id="MSstatus" class="row mt-1 mb-1">
        <div id="MSstatusInfo" class="d-flex flex-fill ml-2 mr-2 p-2 emboss2 justify-content-center text-center">
            <!-- Avocado Desc -->
            <span class="paint avocado">
                Originally fully drawn and animated with CSS, I opted to save the image itself as a PNG to ease up
                on the performance.<br />
                You can still see the ghastly gradient-guzzling thing by clicking on the Help button.
            </span>
            <!-- Pizza Desc -->
            <span class="paint pizza d-none">Pizza</span>
            <!-- Donut Desc -->
            <span class="paint donut d-none">Jelly-Filled Donut</span>
            <!-- SUshi Desc-->
            <span class="paint sushi d-none">Sushi</span>
            <!-- Wine Desc -->
            <span class="paint wine d-none">Wine</span>
            <!-- Bottle Desc -->
            <span class="paint bottle d-none">Bottle</span>
        </div>
    </div>
</div>