        <!-- Dev Terminal -->
        <div id="terminalDev" class="container-fluid bg-dark rounded shadow pb-1 mb-1">
                <div id="terminalHeader" class="row no-gutters">
                    <div class="d-flex align-items-center">
                        <div class="trm-btn rounded-circle bg-success mr-1"></div>
                        <div class="trm-btn rounded-circle bg-warning mr-1"></div>
                        <div class="trm-btn rounded-circle bg-danger mr-1"></div>
                    </div>
                    <div class="d-flex flex-nowrap flex-fill justify-content-center">
                        <div class="text-white d-none d-sm-block">al@v-Pro: ~/Dev</div>
                        <div class="text-white d-sm-none">al@v-Pro: ~</div>
                    </div>
                </div>
                <div id="terminalBody" class="bg-dark text-white hacker d-flex flex-column">
                    <a class="btn text-white mb-1 text-left" href="#backendCollapse" data-toggle="collapse" aria-expanded="false"
                        aria-controls="backendCollapse">
                        >>> print(back-end-skills)
                    </a>
                    <div id="backendCollapse" class="collapse">These are my skills.</div>
                    <a class="btn text-white mb-1 text-left" href="#frontendCollapse" data-toggle="collapse" aria-expanded="false"
                        aria-controls="frontendCollapse">
                        >>> print(front-end-skills)
                    </a>
                    <div id="frontendCollapse" class="collapse">These are my other skills.</div>
                    <a class="btn text-white mb-1 text-left" href="#devCollapse" data-toggle="collapse" aria-expanded="false"
                        aria-controls="devCollapse">
                        >>> print(dev-skills)
                    </a>
                    <div id="devCollapse" class="collapse">These are my other, other skills.</div>
                </div>
            </div>