{% extends 'base.html' %}
{% block content %}
<div class="h-100 d-flex flex-column">
    <div class="bg-dark p-3">
        <div class="text-center">
            <div class="title-font text-danger">Al Saldana</div>
            <div class="display-font">
                $ python Dev <span class="cursorBlink">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="bg-light flex-grow-1 p-3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus lorem, convallis ut ipsum sit amet,
            dictum varius dui. Maecenas fringilla mauris non consectetur mattis. Nam tincidunt nulla et justo luctus,
            vel hendrerit eros porta. Quisque finibus elit vitae felis consequat, feugiat laoreet lacus condimentum.
            Nulla blandit felis ut lobortis posuere. Praesent ullamcorper blandit massa non ullamcorper. Sed ac tortor
            cursus, finibus dolor sit amet, porttitor tellus. Etiam lobortis auctor sapien a mattis. Nullam egestas mi
            lectus, at interdum sapien volutpat et. Sed dui lacus, venenatis eu mauris non, interdum mollis nisl. Cras
            ut eros sed arcu luctus placerat.

            Quisque condimentum metus ut maximus semper. Duis a mauris id nibh mollis ornare. Mauris quis nulla vitae
            sapien dapibus ultrices. Suspendisse imperdiet dui nec tortor cursus aliquam. Cras ullamcorper hendrerit
            scelerisque. Cras turpis diam, auctor gravida quam porta, dignissim placerat justo. Maecenas dictum velit
            sit amet dui tincidunt consectetur.

            In et justo commodo, interdum ligula ut, bibendum felis. Fusce sit amet velit tempus, pellentesque nunc eu,
            luctus lorem. Mauris imperdiet nisi eu nunc commodo, nec commodo tortor dapibus. Suspendisse nec volutpat
            ipsum. Etiam fringilla facilisis diam id dapibus. Nullam venenatis tellus a velit eleifend, vitae auctor mi
            suscipit. Phasellus nibh sem, dictum eu venenatis eu, facilisis eget tortor. Maecenas ut pulvinar leo.
            Praesent blandit id sem congue convallis.

            Sed ornare volutpat felis, vel fringilla tellus commodo fringilla. Aliquam erat volutpat. Proin consectetur
            posuere velit, non accumsan diam fermentum vitae. Praesent eu augue at purus accumsan varius. Donec eu
            lectus maximus risus placerat semper eget ut ipsum. Pellentesque massa sapien, sollicitudin vitae sapien
            id, pharetra pellentesque purus. Sed ornare suscipit pellentesque.

            Quisque ex velit, maximus in imperdiet non, sagittis id urna. Cras varius sodales feugiat. Aenean a sem id
            purus faucibus dictum quis nec ex. Nam sapien metus, commodo quis accumsan sed, aliquet et risus. Donec id
            leo in augue mattis aliquet eu et turpis. Sed sit amet efficitur risus, vel tincidunt nisl. Etiam nec enim
            nisi. Nam condimentum lectus ligula, eget porta sem ornare eget.
        </p>
    </div>
</div>

{% endblock %}