{% extends 'base.html' %}
{% block content %}
<div id="contentBlock" class="h-100 d-flex flex-column">
    <div id="websiteHeader" class="bg-dark">
        <div class="title-font text-danger text-center">Al Saldana</div>
        <div class="typing hacker">
            $ python Dev
        </div>
        <div id="largeSocial" class="bg-dark pl-2 pr-2 pt-2 d-none d-sm-flex justify-content-around">
            <div class="d-flex flex-wrap align-items-center">
                <a href="https://www.linkedin.com/in/alsalgu/" target="_blank" class="btn hacker text-info">
                    <img src="/static/img/icons/linkedin.png" class="mr-1">
                    @alsalgu
                </a>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <a href="mailto:ale.g.saldana@gmail.com" class="btn hacker text-info">
                    <img src="/static/img/icons/mail.png" class="mr-1">
                    ale.g.saldana@gmail
                </a>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <a href="https://github.com/alsalgu" target="_blank" class="btn hacker text-info">
                    <img src="/static/img/icons/github.png" class="mr-1">
                    @alsalgu
                </a>
            </div>
        </div>
        <div id="smallSocial" class="bg-dark p-2 d-flex d-sm-none justify-content-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle hacker" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Contact Me
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/alsalgu/">
                        <img src="/static/img/icons/linkedin.png" class="mr-1">
                        <span class="btn hacker text-info">@alsalgu</span>
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://github.com/alsalgu">
                        <img src="/static/img/icons/github.png" class="mr-1">
                        <span class="btn hacker text-info">@alsalgu</span>
                    </a>
                    <a class="dropdown-item" href="mailto:ale.g.saldana@gmail.com">
                        <img src="/static/img/icons/mail.png" class="mr-1">
                        <span class="btn hacker text-info">ale.g.saldana@gmail</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div  id="websiteBody" class="bg-light flex-grow-1 d-flex flex-column align-items-center p-2">
        <div id="backendTerminal" class="container bg-dark rounded shadow pb-1">
            <div class="row no-gutters">
                <div class="d-flex align-items-center">
                    <div class="trm-btn rounded-circle bg-success mr-1"></div>
                    <div class="trm-btn rounded-circle bg-warning mr-1"></div>
                    <div class="trm-btn rounded-circle bg-danger mr-1"></div>
                </div>
                <div class="d-flex flex-fill justify-content-center">
                    <span class="text-white">al@v-Pro: ~/Desktop/pics/puppies</span>
                </div>
            </div>
            <div class="bg-dark text-white hacker">
                <span>>>> print(back-end-skills)</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}