{% extends 'base.html' %}
{% block content %}
<div id="contentBlock" class="h-100 d-flex flex-column">
    <div id="websiteHeader" class="bg-dark">
        <div class="title-font text-danger text-center">Al Saldana</div>
        <div class="typing hacker">
            $ python Full-Stack-Dev.py
        </div>
        <div id="largeSocial" class="bg-dark pl-2 pr-2 pt-2 d-none d-sm-flex justify-content-around">
            <div class="d-flex flex-wrap align-items-center">
                <a href="https://www.linkedin.com/in/alsalgu/" target="_blank" class="btn hacker text-info">
                    <img src="/static/img/icons/linkedin.png" class="mr-1">
                    @alsalgu
                </a>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <a href="mailto:ale.g.saldana@gmail.com" class="btn hacker text-info">
                    <img src="/static/img/icons/mail.png" class="mr-1">
                    ale.g.saldana@gmail
                </a>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <a href="https://github.com/alsalgu" target="_blank" class="btn hacker text-info">
                    <img src="/static/img/icons/github.png" class="mr-1">
                    @alsalgu
                </a>
            </div>
        </div>
        <div id="smallSocial" class="bg-dark p-2 d-flex d-sm-none justify-content-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle hacker" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Contact Me
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/alsalgu/">
                        <img src="/static/img/icons/linkedin.png" class="mr-1">
                        <div class="btn hacker text-info">@alsalgu</div>
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://github.com/alsalgu">
                        <img src="/static/img/icons/github.png" class="mr-1">
                        <div class="btn hacker text-info">@alsalgu</div>
                    </a>
                    <a class="dropdown-item" href="mailto:ale.g.saldana@gmail.com">
                        <img src="/static/img/icons/mail.png" class="mr-1">
                        <div class="btn hacker text-info">ale.g.saldana@gmail</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="websiteBody" class="bg-light flex-grow-1 d-flex flex-column align-items-center p-2">
        <!-- Dev Terminal -->
        <div id="terminalDev" class="container-fluid bg-dark rounded shadow pb-1 mb-1">
            <div id="terminalHeader" class="row no-gutters">
                <div class="d-flex align-items-center">
                    <div class="trm-btn rounded-circle bg-success mr-1"></div>
                    <div class="trm-btn rounded-circle bg-warning mr-1"></div>
                    <div class="trm-btn rounded-circle bg-danger mr-1"></div>
                </div>
                <div class="d-flex flex-nowrap flex-fill justify-content-center">
                    <div class="text-white d-none d-sm-block">al@v-Pro: ~/Dev</div>
                    <div class="text-white d-sm-none">al@v-Pro: ~</div>
                </div>
            </div>
            <div id="terminalBody" class="bg-dark text-white hacker d-flex flex-column">
                <a class="btn text-white mb-1 text-left" href="#backendCollapse" data-toggle="collapse" aria-expanded="false"
                    aria-controls="backendCollapse">
                    >>> print(back-end-skills)
                </a>
                <div id="backendCollapse" class="collapse">These are my skills.</div>
                <a class="btn text-white mb-1 text-left" href="#frontendCollapse" data-toggle="collapse" aria-expanded="false"
                    aria-controls="frontendCollapse">
                    >>> print(front-end-skills)
                </a>
                <div id="frontendCollapse" class="collapse">These are my other skills.</div>
                <a class="btn text-white mb-1 text-left" href="#devCollapse" data-toggle="collapse" aria-expanded="false"
                    aria-controls="devCollapse">
                    >>> print(dev-skills)
                </a>
                <div id="devCollapse" class="collapse">These are my other, other skills.</div>
            </div>
        </div>
        <!-- Art Terminal -->
        <div id="MSPaint" class="container-fluid shadow emboss">
            <div id="MSHeader" class="row">
                <div class="d-flex flex-fill ml-2 mr-2 mt-1 mb-1 emboss2 Blue">
                    <div class="d-flex flex-nowrap flex-fill ml-1">
                        <div class="text-white d-none d-sm-block">artist.png - Paint</div>
                        <div class="text-white d-sm-none">artist.png</div>
                    </div>
                    <div class="d-flex align-items-center mr-1">
                        <div class="d-flex justify-content-center align-items-center trm-btn2 embossBTN mr-1 pb-1">
                            <div class="font-weight-bold eb">_</div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center trm-btn2 mr-1 embossBTN">
                            <div class="eb">&#x25A1;</div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center trm-btn2 embossBTN">
                            <div class="font-weight-bold eb">x</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="MSmenuBar" class="container-fluid pl-1 mb-1 ml-1">
                <div id="MSmenuButtons" class="row">
                    <div class="menuBTN pl-1 pr-1">
                        <u>F</u>ile
                    </div>
                    <div class="menuBTN pl-1 pr-1">
                        <u>E</u>dit
                    </div>
                    <div class="menuBTN pl-1 pr-1">
                        <u>V</u>iew
                    </div>
                    <div class="menuBTN pl-1 pr-1">
                        <u>O</u>ptions
                    </div>
                    <div class="menuBTN pl-1 pr-1">
                        <u>H</u>elp
                    </div>
                </div>
            </div>
            <!-- MS Paint Main Body-->
            <div id="MSview" class="row pb-1">
                <div class="d-flex flex-fill ml-2 mr-2">
                    <div class="d-inline-block ms-right pr-2" style="width: 70px;">
                        <!-- Paint Toolbar Buttons -->
                        <div id="MStoolbar" class="container">
                            <div class="row">
                                <div id="avocado" class="w-50 eb embossBTN text-center">&#x1F951;</div>
                                <div id="pizza" class="w-50 eb embossBTN text-center">&#x1F355;</div>
                            </div>
                            <div class="row">
                                <div id="donut" class="w-50 eb embossBTN text-center">&#x1F359;</div>
                                <div id="sushi" class="w-50 eb embossBTN text-center">&#x1F363;</div>
                            </div>
                            <div class="row">
                                <div id="wine" class="w-50 eb embossBTN text-center">&#x1F377;</div>
                                <div id="bottle" class="w-50 eb embossBTN text-center">&#x1F37C;</div>
                            </div>
                        </div>
                    </div>
                    <!-- MS Paint Canvas Window-->
                    <div id="MSwindow" class="d-flex flex-fill ms-top inner-shadow emboss2" style="background-color: #a8a8a8">
                        <div id="MScanvas" class="bg-white d-flex flex-fill">
                            <div class="paint avocado container-fluid d-none m-0 p-2">{% include 'extras/aesthetic.html'%}</div>
                            <span class="paint pizza d-none">Pizza</span>
                            <span class="paint donut d-none">Jelly-Filled Donut</span>
                            <span class="paint sushi d-none">Sushi</span>
                            <span class="paint wine d-none">Wine</span>
                            <span class="paint bottle d-none">Bottle</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="MSstatus" class="row mt-1 mb-1">
                <div id="MSstatusInfo" class="d-flex flex-fill ml-2 mr-2 p-1 emboss2">
                    <span class="paint">Click on a Tool.</span>
                    <span class="paint avocado d-none">Avocado</span>
                    <span class="paint pizza d-none">Pizza</span>
                    <span class="paint donut d-none">Jelly-Filled Donut</span>
                    <span class="paint sushi d-none">Sushi</span>
                    <span class="paint wine d-none">Wine</span>
                    <span class="paint bottle d-none">Bottle</span>
                </div>
            </div>
        </div>


    </div>
</div>
</div>

{% endblock %}